extends layout

block content
  .jumbotron
    .container
      h1 Popular Convention

  .contents.container
    .languagebox
      .language
        a.icon-prog-js01(href='#')
      .language
        a.icon-prog-java(href='#')
      .language
        a.icon-prog-python(href='#')
    section
      h2
        span.fui-checkround-24
        |   Last Comma vs. First Comma
      .graph.row
        .chart.span5
        .desc.span6
         | base on 2,403 commit of Github
         br
         | from 04/10/2013 - 04/15/2013
      .examplebox
          .example
            h4
              span.fui-bubble-16
              | Last Comma
            pre
             code !{highlight1}
          .example
            h4
              span.fui-bubble-16
              | First Comma
            pre
             code !{highlight2}
  footer
    .container.
      Made by Outsider (<a href="http://blog.outsider.ne.kr">Blog</a>,
      <a href="https://twitter.com/outsideris">Twitter</a>)
      <br>
      Code licenced under <a href="http://opensource.org/licenses/MIT">MIT license</a>,
      Managed in <a href="https://github.com/outsideris/popularconvention">Github</a>


