extends layout

block content
  .jumbotron
    .container
      h1 Popular Convention

  .contents.container
    .head
      h2 Analyze Github commit to know which convention is popular.
      h2 Choose language.
    .languagebox
      .language(data-lang='js')
        .icon-prog-js01
      .language(data-lang='java')
        .icon-prog-java
      .language(data-lang='python')
        .icon-prog-python
      .language(data-lang='scala')
        .icon-prog-scala
    #conventionWrap
      section
        h2
          span.fui-checkround-24
          | Last Comma vs. First Comma
        .graph
          .chart
          .sidebar
            ul
              li
                .icons.fui-menu-24
                .text
                  h3 300
                  | Last Comma
              li
                .icons.fui-menu-24
                .text
                  h3 3,000
                  | First Comma
              li.commits base on 2,403 commits
              li.navi
                ul.pager
                  li.previous
                    a(href="#")
                      img(src="/components/flat-ui/images/pager/previous.png")
                      | Pie Chart
                  li.next
                    a(href="#")
                      img(src="/components/flat-ui/images/pager/next.png")
          .filter
        .examplebox
            .example
              h4
                span.fui-bubble-16
                | Last Comma
              pre
               code code here
            .example
              h4
                span.fui-bubble-16
                | First Comma
              pre
               code code here
    .desc
      span last update: 2013-04-15
      span Analyzed commit count: 3000 (2013-04-15 - 2013-04-20)
  footer
    .container.
      Made by Outsider (<a href="http://blog.outsider.ne.kr">Blog</a>,
      <a href="https://twitter.com/outsideris">Twitter</a>)
      <br>
      Code licenced under <a href="http://opensource.org/licenses/MIT">MIT license</a>,
      Managed in <a href="https://github.com/outsideris/popularconvention">Github</a>

block template
  script#conventionSection(type='text/x-handlebars-template')
    {{#each scores}}
    {{#if title}}
    section
      h2
        span.fui-checkround-24
        | {{title}}
      .graph
        .chart
          input(type='hidden', class='dataname', value='{{@key}}')
        .sidebar
          ul
            {{#each column}}
            li
              .icons.fui-menu-24
              .text
                h3 {{getScore ../this}} %
                | {{this.display}}
            {{/each}}
            li.commits base on {{getCommitCount ../../this}} commits
            li.navi
              ul.pager
                li.previous
                  a(href="#")
                    img(src="/components/flat-ui/images/pager/previous.png")
                    | Pie Chart
                li.next
                  a(href="#")
                    img(src="/components/flat-ui/images/pager/next.png")
      .examplebox
        {{#each column}}
        .example
          h4
            span.fui-bubble-16
            | {{display}}
          pre
           code {{{code}}}
        {{/each}}
    {{/if}}
    {{/each}}
  script#spiner(type='text/x-handlebars-template')
    #circularG
      #circularG_1.circularG
      #circularG_2.circularG
      #circularG_3.circularG
      #circularG_4.circularG
      #circularG_5.circularG
      #circularG_6.circularG
      #circularG_7.circularG
      #circularG_8.circularG

