doctype 5
html
  head
    title Popular Conventions
    link(rel='stylesheet', href='/components/bootstrap/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='/components/jquery/jquery.min.js')
    script(type="text/javascript", src='/javascripts/script.js')
