.notices
  time <span class="icons fui-bubble-16"></span> Mar 10, 2014
  article.
    fixed a error in "Parentheses around arguments in def" of Ruby.
    See <a href="https://github.com/outsideris/popularconvention/issues/50">issue #50</a> for more details.
    The convention was reset.
  time <span class="icons fui-bubble-16"></span> Dec 13, 2013
  article.
    added conding convention for PHP
    (Issue <a href="https://github.com/outsideris/popularconvention/issues/25" target="_target">#25</a>)
    <br>
    <a href="https://github.com/potherca" target="_target">Ben Peachey</a>
    helped to add it by writing
    <a href="https://gist.github.com/potherca/6719201" target="_target">Popular Coding Convention in PHP on Github</a>.
    Thanks Ben.
  time <span class="icons fui-bubble-16"></span> Sep 20, 2013
  article.
    added coding convention for C#.
    <br>
    <a href="https://github.com/Haacked" target="_target">Phil Haack</a>
    help to add this convention by writing
    <a href="https://gist.github.com/Haacked/6601104" target="_target">C# convention guide</a>.
    Thanks Phil.
  time <span class="icons fui-bubble-16"></span> Aug 12, 2013
  article.
    added coding convention for Ruby.
    <br>
    If there are something wrong in ruby convention
    or you want to see another coding convention
    Please leave issues on <a href="https://github.com/outsideris/popularconvention/issues" target="_target">Github Issues</a>.
    Because I'm not the rubist.
  time <span class="icons fui-bubble-16"></span> July 21, 2013
  article.
    added "single quote vs double quotes" convention for JavaScript.
  time <span class="icons fui-bubble-16"></span> July 17, 2013
  article.
    I made this site for proof of my concept at
    <a href="https://github.com/blog/1450-the-github-data-challenge-ii" target="_blank">The GitHub Data Challenge II</a>.
    <br>
    Amazing thing happened. This project placed in second on
    <a href="https://github.com/blog/1544-data-challenge-ii-results" target="_blank">Data Challenge II Results</a>
    and a lot of people like my idea.<br>
    So, I decided to serve as a service and aggregate more convention data continuously.<br>
    I reseted convention data at all and aggregate newly since old data structure isn't efficient and has some bugs.<br>
    And convention data can be reset sometimes when I found some bugs.
    <br><br>
    Please leave issues on <a href="https://github.com/outsideris/popularconvention/issues" target="_target">Github</a>
    if you have some problems or opinion.<br>
    Thank you for your interest.


