html, body
  height: 100%

body
  background-color: #3498DB
  color: #34495e
  font: 14px/1.231 "Lato", sans-serif

#mainwrap
  min-height: 100%
  margin-bottom: -160px

.jumbotron
  background-color: #34495E

.jumbotron .container
  height: 200px
  background-image: url(../images/jumbotron-background.gif)
  text-align: center

.jumbotron h1
  color: #ffffff
  background-color: rgba(0, 0, 0, 0.5)
  width: 600px
  height: 70px
  margin: 50px auto 0 auto
  font-size: 40px
  border-radius: 10px
  line-height: 70px
  padding-left: 40px

.githublogo
  width: 60px
  margin-left: -50px
  font-size: 52px

.contents
  margin-bottom: 30px

.head
  text-align: center
  color: #ffffff

.head h1
  font-size: 40px
  margin-top: 50px

.languagebox
  text-align: center
  margin-top: 40px
  margin-bottom: 30px
  height: 100px

.language
  display: inline-block
  width: 100px
  height: 100px
  margin-right: 20px
  font-size: 80px
  text-align: left

.language.active div
.language.active p
.language:hover div
.language:hover p
  color: #ffffff

.language div
  text-decoration: none
  color: #34495E
  cursor: pointer

.language p
  font-size: 20px
  text-align: center
  font-weight: bold
  margin-left: -20px
  margin-top: -15px

.container section
  color: #ffffff
  padding: 10px

.container section
  padding-left: 31px

.container section h2
  boder-bottom: 1px solid #34668d
  margin-left: -31px
  margin-bottom: 10px

.container section h2 span
  margin-right: 10px

.graph
  margin-bottom: 20px

.graph:after,
.graph .sidebar:after
  clear: both
  display: table
  line-height: 0
  content: ""

.graph .chart
  text-align: center
  background-color: #2980B9
  width: 550px
  height: 400px
  float: left
  margin-left: 26px
  border-radius: 10px 0 0 10px

.graph .sidebar
  background-color: #34495E
  width: 323px
  height: 400px
  float: left
  color: #1ABC9C
  border-radius: 0 10px 10px 0

.graph .sidebar ul
  margin: 0

.graph .sidebar > ul > li
  list-style-type: none
  border-bottom: 2px solid #2C3E50
  height: 80px
  padding-left: 10px
  font-weight: 400
  overflow: hidden

.graph .sidebar li .icons
  float: left
  padding: 29px 15px 0 5px
  font-size: 25px

.graph .sidebar li .text
  font-size: 13px

.graph .sidebar li .text h3
  font-size: 30px
  padding: 10px 0 0 0
  margin-bottom: -3px

.graph .sidebar li.commits
  font-size: 20px
  line-height: 60px
  padding-left: 20px
  height: 60px

.graph .sidebar li.navi
  border-bottom: none

.graph .sidebar li.navi .pager
  background-color: #1ABC9C
  margin: 20px 0 0 35px

.graph .filter
  width: 873px
  height: 150px
  float: left
  background-color: #2C3E50
  margin-left: 26px
  border-radius: 0 0 10px 10px

.example .fui-bubble-16
  font-size: 14px
  margin-right: 10px

.example pre
  margin-left: 25px
  margin-bottom: 10px

.footer-push
  height: 150px

footer
  background-color: transparent

footer .desc
  text-align: center
  margin-bottom: 20px
  color: #CFCFCF

footer .desc span
  font-size: 15px
  display: block

footer .footerbar
  background-color: #F1C40F
  color: #ffffff
  padding: 20px
  text-align: center

// disable bootstrap code syntax highlight
pre
  margin: 0
  border-radius: 0
  border: none
  background-color: transparent
  line-height: 16px
  padding: 0
  font-size: 12px

// spiner
#circularG
  position: relative
  width: 128px
  height: 128px
  margin: 150px auto

.circularG
  position:absolute
  background-color:#F1C40F
  width:29px
  height:29px
  -moz-border-radius:19px
  -moz-animation-name:bounce_circularG
  -moz-animation-duration:1.04s
  -moz-animation-iteration-count:infinite
  -moz-animation-direction:linear
  -webkit-border-radius:19px
  -webkit-animation-name:bounce_circularG
  -webkit-animation-duration:1.04s
  -webkit-animation-iteration-count:infinite
  -webkit-animation-direction:linear
  -ms-border-radius:19px
  -ms-animation-name:bounce_circularG
  -ms-animation-duration:1.04s
  -ms-animation-iteration-count:infinite
  -ms-animation-direction:linear
  -o-border-radius:19px
  -o-animation-name:bounce_circularG
  -o-animation-duration:1.04s
  -o-animation-iteration-count:infinite
  -o-animation-direction:linear
  border-radius:19px
  animation-name:bounce_circularG
  animation-duration:1.04s
  animation-iteration-count:infinite
  animation-direction:linear

#circularG_1
  left:0
  top:50px
  -moz-animation-delay:1.3s
  -webkit-animation-delay:1.3s
  -ms-animation-delay:1.3s
  -o-animation-delay:1.3s
  animation-delay:1.3s

#circularG_2
  left:14px
  top:14px
  -moz-animation-delay:1.17s
  -webkit-animation-delay:1.17s
  -ms-animation-delay:1.17s
  -o-animation-delay:1.17s
  animation-delay:1.17s

#circularG_3
  top:0
  left:50px
  -moz-animation-delay:1.04s
  -webkit-animation-delay:1.04s
  -ms-animation-delay:1.04s
  -o-animation-delay:1.04s
  animation-delay:1.04s

#circularG_4
  right:14px
  top:14px
  -moz-animation-delay:0.91s
  -webkit-animation-delay:0.91s
  -ms-animation-delay:0.91s
  -o-animation-delay:0.91s
  animation-delay:0.91s

#circularG_5
  right:0
  top:50px
  -moz-animation-delay:0.78s
  -webkit-animation-delay:0.78s
  -ms-animation-delay:0.78s
  -o-animation-delay:0.78s
  animation-delay:0.78s

#circularG_6
  right:14px
  bottom:14px
  -moz-animation-delay:0.65s
  -webkit-animation-delay:0.65s
  -ms-animation-delay:0.65s
  -o-animation-delay:0.65s
  animation-delay:0.65s

#circularG_7
  left:50px
  bottom:0
  -moz-animation-delay:0.52s
  -webkit-animation-delay:0.52s
  -ms-animation-delay:0.52s
  -o-animation-delay:0.52s
  animation-delay:0.52s

#circularG_8
  left:14px
  bottom:14px
  -moz-animation-delay:0.39s
  -webkit-animation-delay:0.39s
  -ms-animation-delay:0.39s
  -o-animation-delay:0.39s
  animation-delay:0.39s

@keyframes bounce_circularG
  0%
    transform:scale(1)
    -webkit-transform:scale(1)
  100%
    transform:scale(.3)
    -webkit-transform:scale(.3)

.socialbox
  margin-top: 10px

.fb-like
  margin-right: 30px